* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.game-container {
    height: 30em;
    width: 80%;
    background: linear-gradient(to bottom, rgb(0, 89, 255),#fff);
    border: 2px solid black;
    border-bottom: 15px solid rgb(24, 179, 24);
    position: relative;
    overflow: hidden;
}

.game-pipe {
    height: 60px;
    width: 60px;
    position: absolute;
    bottom: 0;
}

.game-player {
    height: 120px;
    position: absolute;
    bottom: 0;
}
.game-player--small{
    height: 90px;
}

.game-clouds {
    margin-top: 5px;
    height: 170px;
    position: absolute;
}
.game-gameover{
    animation: gameover 1s linear;
}
.game-sound{
    visibility: hidden;
}
.author{
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 0;
    background-color: #333;
    color: #fff;
}
@keyframes pipeMove {
    from {
        right: -80px;
    }

    to {
        right: 100%;
    }
}

@keyframes cloudsMove {
    from {
        right: -400px;
    }

    to {
        right: 100%;
    }
}

@keyframes jump {
    0% {
        bottom: 0;
    }

    40% {
        bottom: 100px;
    }

    50% {
        bottom: 100px;
    }

    60% {
        bottom: 100px;
    }

    100% {
        bottom: 0;
    }
}
@keyframes gameover{
    0%{
        bottom: 0;
    }
    40%{
        bottom: 100px;
    }

    100%{
        bottom: -200px;
    }
}
@media(max-width:600px) {
    .game-container {
        height: 20em;
        width: 100%;
    }

    .game-player {
        height: 60px;
    }
    .game-player--small{
        height: 50px;
    }
    .game-pipe {
        height: 40px;
        width: 40px;
    }

    .game-clouds {
        height: 140px;
    }

}