* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(0, 183, 255);
}

.game-title,
.game-desc {
    text-align: center;
    color: rgb(231, 231, 231);
}

.container {
    height: 100%;
    width: 100%;
    background-color: rgb(0, 183, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.game-desc {
    margin: 10px;
    background-color: rgba(255, 255, 255, 0.20);
    padding: 5px;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

.game-desc--desktop {
    display: block;
}

.game-desc--mobile {
    display: none;
}

.game-container {
    height: 30em;
    width: 80%;
    border: 5px solid black;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}

.game-background {
    width: 100%;
    height: 120%;
}

.game-btn-play {
    position: absolute;
    z-index: 1;
    left: 46%;
    margin-top: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    border: 0;
    color: #fff;
    background-color: rgb(0, 89, 255);
}

.game-btn-play:hover {
    background: rgb(47, 0, 255);
}

.game-pipe {
    height: 60px;
    width: 60px;
    position: absolute;
    bottom: 65px;
}

.game-player {
    height: 120px;
    position: absolute;
    bottom: 65px;
}

.game-player--small {
    height: 90px;
}

.game-clouds {
    margin-top: 15px;
    height: 170px;
    position: absolute;
}

.game-gameover {
    animation: gameover 5s ease-in-out;
}

.game-sound {
    visibility: hidden;
}

.game-score {
    position: absolute;
    color: #fff;
    font-size: 35px;
    right: 10px;
}

.game-points {
    color: #fff;
    font-size: 35px;
}

.game-author {
    width: 100%;
    height: 25px;
    text-align: center;
    padding: 5px;
    position: fixed;
    bottom: 0;
    background-color: #333;
    color: #fff;
}

.try-again-container {
    height: 100%;
    width: 100%;
    z-index: 2;
    position: absolute;
    justify-content: center;
    align-items: center;
    display: none;
}

.try-again {
    background-color: rgba(0, 0, 0, 0.38);
    width: 60%;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    gap: 10px;
    height: 20%;
}

.btn_try_again{
    background-color:  rgb(0, 89, 255);
    padding: 10px 15px;
    font-size: 15px;
    border: 1px solid #fff;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}

@keyframes pipeMove {
    from {
        right: -80px;
    }

    to {
        right: 100%;
    }
}

@keyframes cloudsMove {
    from {
        right: -400px;
    }

    to {
        right: 100%;
    }
}

@keyframes jump {
    0% {
        bottom: 65px;
    }

    40% {
        bottom: 165px;
    }

    50% {
        bottom: 165px;
    }

    60% {
        bottom: 165px;
    }

    100% {
        bottom: 65px;
    }
}

@keyframes gameover {
    0% {
        bottom: 0;
    }

    50% {
        bottom: 130px;
    }

    80% {
        bottom: 130px;
    }

    100% {
        bottom: -200px;
    }
}

@media(max-width:600px) {
    .container {
        height: 60vh;
    }

    .game-title {
        margin-top: 2rem;
    }

    .game-desc--desktop {
        display: none;
    }

    .game-desc--mobile {
        display: block;
    }

    .game-container {
        height: 20em;
        width: 100%;
    }

    .game-player {
        height: 60px;
        bottom: 40px;
    }

    .game-player--small {
        height: 50px;
    }

    .game-pipe {
        height: 40px;
        width: 40px;
        bottom: 45px;
    }

    .game-clouds {
        height: 100px;
    }

    .game-score,
    .game-points {
        font-size: 30px;
    }


    @keyframes jump {
        0% {
            bottom: 40px;
        }

        40% {
            bottom: 140px;
        }

        50% {
            bottom: 140px;
        }

        60% {
            bottom: 140px;
        }

        100% {
            bottom: 40px;
        }
    }

}